
*{margin:0;padding:0;box-sizing:border-box;}
ul,li{list-style:none;}
body{background:#EAE8EB;overflow-y:scroll;}
a{text-decoration: none;color:#6C6C6C;}
.w{width:1194px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.red{color:#F22E00;}
.shortcut{
    height:36px;
    line-height:36px;
    font-size:13px;
    background:#F5F5F5;
    color:#6C6C6C;
}
.shortcut-container{
    position: relative;
}
.shortcut-container ul .li-1{
    position:relative;
    padding:0 5px;
}

#geo{
    position:absolute;
    left:0;
    z-index:2;
    background:white;
    width:255px;
    height:288px;
   visibility:hidden;
   overflow-y:scroll;
}
#geo a{
    display:block;
    padding-left:10px;
}
#geo a:hover{
    cursor:pointer;
   background:#EAE8EB;
}
.shortcut-container ul .li-1:hover{
    background:white;
}
.shortcut-container ul .li-1:hover #geo{
    visibility:visible;
 }
.shortcut-container .left-box ul .li-1{
    margin-right:10px;
}
.shortcut-container .left-box ul .li-2 .a-1{
   color:#F22E00;
}
.shortcut-container .left-box ul .li-2 .a-2:hover{
    color:red;
 }
.shortcut-container .right-box ul>li{
    float:left;
    padding:0 5px;
    margin:0 2px;

}

/* 我的淘宝 */
.shortcut-container .right-box ul .li-1{
    position: relative;
}
.shortcut-container .right-box ul .li-1:hover{
    background:white;
}
.shortcut-container .right-box ul .li-1>a:hover{
    color:red;
}
.shortcut-container .right-box ul .li-1:hover .mytaobao{
   visibility:visible;
   z-index:2;
}
.shortcut-container .right-box ul .li-1 .mytaobao{
   position: absolute;
   left:0;
   width:85px;
   height:74px;
   background:white;
   visibility:hidden;
}
.shortcut-container .right-box ul .li-1 .mytaobao a{
    display:block;
    padding-left:5px;
    
}
.shortcut-container .right-box ul .li-1 .mytaobao a:hover{
    background:#EAE8EB;
    cursor:pointer;
}
/* 购物车 */
.shortcut-container .right-box ul .li-2>a:hover{
   color:red;
}

/* 收藏夹 */
.shortcut-container .right-box ul .li-3{
    position: relative;
}
.shortcut-container .right-box ul .li-3:hover{
    background:white;
}
.shortcut-container .right-box ul .li-3>.svg-a-bx{
    display:inline-block;
}
.shortcut-container .right-box ul .li-3>.svg-a-bx:hover>svg,
.shortcut-container .right-box ul .li-3>.svg-a-bx:hover>a
{
    color:red;
}
.shortcut-container .right-box ul .li-3:hover .collections{
   visibility:visible;
   z-index:2;
}
.shortcut-container .right-box ul .li-3 .collections{
   position: absolute;
   left:0;
   width:85px;
   height:74px;
   background:white;
   visibility:hidden;
}
.shortcut-container .right-box ul .li-3 .collections a{
    display:block;
    padding-left:5px;
    
}
.shortcut-container .right-box ul .li-3 .collections a:hover{
    background:#EAE8EB;
    cursor:pointer;
}
/* 商品分类 */
.shortcut-container .right-box ul .li-4>a:hover{
   color:red;
}
/* 免费开店 */
.shortcut-container .right-box ul .li-5>a:hover{
   color:red;
}
/* 小树枝 */
.shortcut-container .right-box ul i{
    margin-top:12px;
    margin-left:5px;
    margin-right:5px;
    display:inline-block;
    width:1px;
    height:13px;
    background:#DFDFE4;
}
/* 千牛卖家中心 */
.shortcut-container .right-box ul .li-6>a:hover{
    color:red;
 }
 /* 联系客服 */
 .shortcut-container .right-box ul .li-7>a:hover{
    color:red;
 }
/* 网站导航 */
.shortcut-container .right-box ul>.li-8>.svg-a-bx{
    display:inline-block;
}
.shortcut-container .right-box ul>.li-8>.svg-a-bx:hover>svg,
.shortcut-container .right-box ul>.li-8>.svg-a-bx:hover>a
{
    color:red;
}
.shortcut-container .right-box ul>.li-8:hover{
    background:white;
}
.shortcut-container .right-box ul>.li-8:hover .sites-nav{
   visibility:visible;
   z-index:2;
}
.shortcut-container .right-box ul>.li-8 .sites-nav{
   position: absolute;
   left:0;
   width:1194px;
   width:1184px;
   height:314px;
   background:white;
   visibility:hidden;
}
.shortcut-container .right-box ul>.li-8 .sites-nav li{
    display:block;
    width:270px;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-1,
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-2,
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-3
{
    border-right:1px solid #EFEFEF;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-1>h1{
   color:#F84404;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-2>h1{
    color:#A6BB44;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-3>h1{
    color:#DC699F;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-4>h1{
    color:#2C9ED5;
}


/* header区 */
header{
    position: relative;
    height:122px;
    background:#E9E6E8;
}
.logo{
    position: absolute;
    left:0;
    top:33px;
}
.logo h1 .logo-db {
    display: block;
    background:red;
    width: 142px;
    height:58px;
    margin-left:22px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(images/logo.png) 0 0 no-repeat;
}
.search{
    position: absolute;
    position: relative;
    top:36px;
    left:258px;
    width: 632px;
    height: 42px;
    border:1px solid red;
    border-radius:20px;
    background:white;
}
/* 宝贝 */
.search>.treasure{
    float:left;
    height:100%;
    line-height:42px;
    width: 75px;
    font-size:12px;
    padding-left:26px;

}
.search>.treasure:hover>.treasure-dropdown{
   visibility:visible;
   z-index:2;
}
.search>.treasure>.treasure-dropdown{
    position: absolute;
    left:0px;
    top:28px;
    width:75px;
    background:white;
    font-size:12px;
    visibility:hidden;
    padding-top:10px;
    padding-bottom:13px;
}
.search>.treasure>.treasure-dropdown>a{
    display:block;
    text-align: center;
    line-height:40px;
}

.search>.treasure>.treasure-dropdown>a:hover{
    cursor:pointer;
   color:red;
}


.search>i{
    float:left;
    margin:2px 0;
    height:36px;
    width:1px;
    background:#F5F5F5;

}
.search>input{
    float:left;
    width: 476px;
    height:100%;
    border:none;
    outline:none;
    padding-left:10px;
    font-size:12px;
}
/* --清除谷歌浏览器下的 search 叉号 */
input::-webkit-search-cancel-button{
  display: none;
}
/* --清除IE下的 search 叉号 */
input[type=search]::-ms-clear{
  display: none;
}
.search>button{
    float:left;
    margin-top:3px;
    width: 75px;
    height:34px;
    background:linear-gradient(to right,#FF8F00,#FF5300);
    border-radius:20px;
    border:none;
    outline:none;
    font-size:18px;
    color:white;
    cursor:pointer;
}
/* 热词 */
.hotwords{
    position: absolute;
    top:84px;
    left:258px;
    width: 632px;
    font-size:13px;
}
.hotwords>a:hover{
   color:red;
}
/* 二维码 */
.qrcode-bx{
    position: absolute;
    top:24px;
    right:112px;
    width: 75px;
    height: 90px;
    background:white;
    text-align: center;
    
}
.qrcode-bx>a>span{
    font-size:12px;
    color:red;
}
.qrcode-bx>a>h5{
    display:inline-block;
    width:64px;
    height: 64px;
    background:url(images/qrcode.png) no-repeat 0 0;
    background-size:64px;
}
/* nav */
.nav{
    background:white;
    height: 558px;
    border-radius:20px 20px 0 0;
}
.nav>.dropdown{
    width: 200px;
}
.nav>.dropdown>dl>dt{
    text-align: center;
    height: 42px;
    line-height: 42px;
    color:#FF6200;
    font-size:17px;
}
.nav>.dropdown>dl>dd{
    position: relative;
    height: 34px;
    line-height: 34px;
    padding-left:24px;
    font-size:15px;
}
.nav>.dropdown>dl>dd:hover{
     background:#FFE4DB;
     color:red;
}
.nav>.dropdown>dl>dd:hover a{
    color:red;
    
}
.nav>.dropdown>dl>dd:hover i{
    border-color:transparent transparent red red;
}
.nav>.dropdown>dl>dd a:hover{
    text-decoration:underline;
}
.nav>.dropdown>dl>dd>i{
    position: absolute;
    top:14px;
    right:12px;
    display:inline-block;
    width: 8px;
    height: 8px;
   
    border:1px solid;
    border-color:transparent transparent grey grey;
    transform:rotate(-135deg);
}