body{background:#EAE8EB;overflow-y:scroll;}
a{color:#6C6C6C}
.clearfix::after{
   content:'';
   display:block;
   clear:both;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 @font-face {
    font-family: 'iconfont';  /* Project id 2724194 */
    src: url('https://at.alicdn.com/t/font_2724194_m0l6ggl9uf.woff2?t=1630129401415') format('woff2'),
         url('https://at.alicdn.com/t/font_2724194_m0l6ggl9uf.woff?t=1630129401415') format('woff'),
         url('https://at.alicdn.com/t/font_2724194_m0l6ggl9uf.ttf?t=1630129401415') format('truetype');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.w{width:1194px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.red{color:#F22E00;}
.disBlk{display:block;}
.disNo{display:none;}
.shortcut{
    height:36px;
    line-height:36px;
    font-size:13px;
    background:#F5F5F5;
    color:#6C6C6C;
}
.shortcut-container{
    position: relative;
}
.shortcut-container ul .li-1{
    position:relative;
    padding:0 5px;
}

#geo{
    position:absolute;
    left:0;
    z-index:2;
    background:white;
    width:255px;
    height:288px;
   visibility:hidden;
   overflow-y:scroll;
}
#geo a{
    display:block;
    padding-left:10px;
}
#geo a:hover{
    cursor:pointer;
   background:#EAE8EB;
}
.shortcut-container ul .li-1:hover{
    background:white;
}
.shortcut-container ul .li-1:hover #geo{
    visibility:visible;
 }
.shortcut-container .left-box ul .li-1{
    margin-right:10px;
}
.shortcut-container .left-box ul .li-2 .a-1{
   color:#F22E00;
}
.shortcut-container .left-box ul .li-2 .a-2:hover{
    color:red;
 }
.shortcut-container .right-box ul>li{
    float:left;
    padding:0 5px;
    margin:0 2px;

}

/* 我的淘宝 */
.shortcut-container .right-box ul .li-1{
    position: relative;
}
.shortcut-container .right-box ul .li-1:hover{
    background:white;
}
.shortcut-container .right-box ul .li-1>a:hover{
    color:red;
}
.shortcut-container .right-box ul .li-1:hover .mytaobao{
   visibility:visible;
   z-index:2;
}
.shortcut-container .right-box ul .li-1 .mytaobao{
   position: absolute;
   left:0;
   width:85px;
   height:74px;
   background:white;
   visibility:hidden;
}
.shortcut-container .right-box ul .li-1 .mytaobao a{
    display:block;
    padding-left:5px;
    
}
.shortcut-container .right-box ul .li-1 .mytaobao a:hover{
    background:#EAE8EB;
    cursor:pointer;
}
/* 购物车 */
.shortcut-container .right-box ul .li-2>a:hover{
   color:red;
}

/* 收藏夹 */
.shortcut-container .right-box ul .li-3{
    position: relative;
}
.shortcut-container .right-box ul .li-3:hover{
    background:white;
}
.shortcut-container .right-box ul .li-3>.svg-a-bx{
    display:inline-block;
}
.shortcut-container .right-box ul .li-3>.svg-a-bx:hover>svg,
.shortcut-container .right-box ul .li-3>.svg-a-bx:hover>a
{
    color:red;
}
.shortcut-container .right-box ul .li-3:hover .collections{
   visibility:visible;
   z-index:2;
}
.shortcut-container .right-box ul .li-3 .collections{
   position: absolute;
   left:0;
   width:85px;
   height:74px;
   background:white;
   visibility:hidden;
}
.shortcut-container .right-box ul .li-3 .collections a{
    display:block;
    padding-left:5px;
    
}
.shortcut-container .right-box ul .li-3 .collections a:hover{
    background:#EAE8EB;
    cursor:pointer;
}
/* 商品分类 */
.shortcut-container .right-box ul .li-4>a:hover{
   color:red;
}
/* 免费开店 */
.shortcut-container .right-box ul .li-5>a:hover{
   color:red;
}
/* 小树枝 */
.shortcut-container .right-box ul i{
    margin-top:12px;
    margin-left:5px;
    margin-right:5px;
    display:inline-block;
    width:1px;
    height:13px;
    background:#DFDFE4;
}
/* 千牛卖家中心 */
.shortcut-container .right-box ul .li-6>a:hover{
    color:red;
 }
 /* 联系客服 */
 .shortcut-container .right-box ul .li-7>a:hover{
    color:red;
 }
/* 网站导航 */
.shortcut-container .right-box ul>.li-8>.svg-a-bx{
    display:inline-block;
}
.shortcut-container .right-box ul>.li-8>.svg-a-bx:hover>svg,
.shortcut-container .right-box ul>.li-8>.svg-a-bx:hover>a
{
    color:red;
}
.shortcut-container .right-box ul>.li-8:hover{
    background:white;
}
.shortcut-container .right-box ul>.li-8:hover .sites-nav{
   visibility:visible;
   z-index:3;
}
.shortcut-container .right-box ul>.li-8 .sites-nav{
   position: absolute;
   left:0;
   width:1194px;
   height:314px;
   background:white;
   visibility:hidden;
   border:1px solid #EFEFEF;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>li{
    width:24%;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-1,
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-2,
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-3
{
    border-right:1px solid #EFEFEF;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-1>h1{
   color:#F84404;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-1>.bd>ul>li{
    width: 23%;
    height: 25px;
    line-height: 25px;
    margin-bottom:5px;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-1>.bd>ul>li>a{
    text-align: center;
    display:inline-block;
    width: 40px;
    height: 25px;
    line-height: 25px;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-1>.bd>ul>li>a:hover{
    background:red;
    color:white;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-2>h1{
    color:#A6BB44;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-3>h1{
    color:#DC699F;
}
.shortcut-container .right-box ul>.li-8 .sites-nav>.li-4>h1{
    color:#2C9ED5;
}


/* header区 */
header{
    position: relative;
    height:122px;
    background:#E9E6E8;
}
.logo{
    position: absolute;
    left:0;
    top:33px;
}
.logo h1 .logo-db {
    display: block;
    background:red;
    width: 142px;
    height:58px;
    margin-left:22px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(images/logo.png) 0 0 no-repeat;
}
.search{
    position: absolute;
    position: relative;
    top:36px;
    left:258px;
    width: 632px;
    height: 42px;
    border:1px solid red;
    border-radius:20px;
    background:white;
}
/* 宝贝 */
.search>.treasure{
    float:left;
    height:100%;
    line-height:42px;
    width: 75px;
    font-size:12px;
    padding-left:26px;

}
.search>.treasure:hover>.treasure-dropdown{
   visibility:visible;
   z-index:2;
}
.search>.treasure>.treasure-dropdown{
    position: absolute;
    left:0px;
    top:28px;
    width:75px;
    background:white;
    font-size:12px;
    visibility:hidden;
    padding-top:10px;
    padding-bottom:13px;
}
.search>.treasure>.treasure-dropdown>a{
    display:block;
    text-align: center;
    line-height:40px;
}

.search>.treasure>.treasure-dropdown>a:hover{
    cursor:pointer;
   color:red;
}


.search>i{
    float:left;
    margin:2px 0;
    height:36px;
    width:1px;
    background:#F5F5F5;

}
.search>input{
    float:left;
    width: 476px;
    height:100%;
    border:none;
    outline:none;
    padding-left:10px;
    font-size:12px;
}
/* --清除谷歌浏览器下的 search 叉号 */
input::-webkit-search-cancel-button{
  display: none;
}
/* --清除IE下的 search 叉号 */
input[type=search]::-ms-clear{
  display: none;
}
.search>button{
    float:left;
    margin-top:3px;
    width: 75px;
    height:34px;
    background:linear-gradient(to right,#FF8F00,#FF5300);
    border-radius:20px;
    border:none;
    outline:none;
    font-size:18px;
    color:white;
    cursor:pointer;
}
/* 热词 */
.hotwords{
    position: absolute;
    top:84px;
    left:258px;
    width: 632px;
    font-size:13px;
}
.hotwords>a:hover{
   color:red;
}
/* 二维码 */
.qrcode-bx{
    position: absolute;
    top:24px;
    right:112px;
    width: 75px;
    height: 90px;
    background:white;
    text-align: center;
    
}
.qrcode-bx>a>span{
    font-size:12px;
    color:red;
}
.qrcode-bx>a>h5{
    display:inline-block;
    width:64px;
    height: 64px;
    background:url(images/qrcode.png) no-repeat 0 0;
    background-size:64px;
}
/* nav */
.nav{
    background:white;
    /* height: 558px; */
    height: 42px;
    border-radius:20px 20px 0 0;
}
.nav>.dropdown{
    float:left;
    width: 200px;
    height:558px;
    background:white;
    border-radius:20px 0 0 0;
}
.nav>.dropdown>dl>dt{
    text-align: center;
    height: 42px;
    line-height: 42px;
    color:#FF6200;
    font-size:17px;
}
.nav>.dropdown>dl>dd{
    position: relative;
    height: 34px;
    line-height: 34px;
    padding-left:24px;
    font-size:15px;
}
.nav>.dropdown>dl>dd:hover{
     background:#FFE4DB;
     color:red;
}
.nav>.dropdown>dl>dd:hover a{
    color:red;
    
}
.nav>.dropdown>dl>dd:hover i{
    border-color:transparent transparent red red;
}
.nav>.dropdown>dl>dd a:hover{
    text-decoration:underline;
}
.nav>.dropdown>dl>dd>i{
    position: absolute;
    top:14px;
    right:12px;
    display:inline-block;
    width: 8px;
    height: 8px;
    border:1px solid;
    border-color:transparent transparent grey grey;
    transform:rotate(-135deg);
}
/* navitems */
.nav>.navitems{
    float:left;
}

.nav>.navitems>ul>li{
    float:left;
    height: 42px;
    line-height: 42px;
    font-size:15px;
}
.nav>.navitems>ul>li:nth-child(-n+2){
    margin-right:25px; 
    color:#FF0036;
    font-size:16px;
    cursor:pointer;
}
.nav>.navitems>ul>li:nth-child(3){
    margin-right:22px; 
    color:#33C900;
    font-size:16px;
    cursor:pointer;
}
.nav>.navitems>ul>li:nth-child(3):hover{
    color:#FF0036;
}
.nav>.navitems>ul>li:nth-child(4),
.nav>.navitems>ul>li:nth-child(7),
.nav>.navitems>ul>li:nth-child(8)
{
    margin-right:14px; 
}

.nav>.navitems>ul>li:nth-child(5),
.nav>.navitems>ul>li:nth-child(6),
.nav>.navitems>ul>li:nth-child(9),
.nav>.navitems>ul>li:nth-child(10),
.nav>.navitems>ul>li:nth-child(11){
    margin-right:18px; 
}
.nav>.navitems>ul>li:nth-child(5):hover,
.nav>.navitems>ul>li:nth-child(6):hover,
.nav>.navitems>ul>li:nth-child(7):hover,
.nav>.navitems>ul>li:nth-child(n+9):hover
{
   color:red;
   cursor:pointer;
}
/* main */
.main>.box{
    width: 1000px;
    height: 516px;
    background:white;
    margin-left:194px;
}
.main>.box>.focus{
    float:left;
    /* width: 520px; */
    width: 690px;
    height:100%;
}
.main>.box>.focus>.slide-main{ 
    position: relative;
    float:left;
    width: 520px;
    height: 280px;
    background:yellow;
    border-radius:15px;
    overflow:hidden;
}
.main>.box>.focus>.slide-main .img-box{
    position: absolute;
    top:0;
    left:0;
    width: 2600px;
    height: 280px;
    
}
.main>.box>.focus>.slide-main .img-box a{
    float:left;
    width: 520px;
    height: 280px;
    
}
.main>.box>.focus>.slide-main .img-box a img{
    width: 520px;
    height: 280px;
    border-radius:15px;
}
.main>.box>.focus>.slide-main .pre,
.main>.box>.focus>.slide-main .next{
    position: absolute;
    top:140px;
    color:white;
    text-align: center;
    font-size: 20px;
    display:none;
}
.main>.box>.focus>.slide-main:hover .pre,
.main>.box>.focus>.slide-main:hover .next{
   display:block;
}
.main>.box>.focus>.slide-main .pre:hover,
.main>.box>.focus>.slide-main .next:hover{
    cursor:pointer;
}
.main>.box>.focus>.slide-main .pre{
    left:-8px;
   width:30px;
   height: 30px;
   background:black;
   opacity:0.4;
   border-radius:0 15px 15px 0;

}
.main>.box>.focus>.slide-main .next{
    right:-8px;
   width:30px;
   height: 30px;
   background:black;
   opacity:0.4;
   border-radius:15px 0 0 15px;

}
.main>.box>.focus>.slide-main>.slide-nav{
    position: absolute;
    bottom:15px;
    left:223px;
    width:74px;
    height: 14px;
    background:rgba(255,255,255,0.3);
    border-radius:15px;
}
.main>.box>.focus>.slide-main>.slide-nav>ul>li{
    float:left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background:white;
    margin:3px;
}
.main>.box>.focus>.slide-main>.slide-nav>ul>li:hover{
    cursor:pointer;
}
.main>.box>.focus>.slide-main>.slide-nav>ul>li.active{
    background:#FF5000;
}
.main>.box>.focus>.slide-main-right{
    float:right;
    width: 160px;
    height: 280px;
    background:purple;
    border-radius:15px;
}
.main>.box>.focus>.slide-main-right>a,
.main>.box>.focus>.slide-main-right>a>img{
    border-radius:15px;
}
/* slide-sub-top */
.main>.box>.focus>.slide-sub-top{
    float:left;
    width: 690px;
    height: 30px;
    background:white;
}
.main>.box>.focus>.slide-sub-top>.left{
    float:left;
    width: 520px;
    margin-right:10px;
}
.main>.box>.focus>.slide-sub-top>.left span:first-Child{
   color:#FF0036;
}
.main>.box>.focus>.slide-sub-top>.left span:nth-Child(2){
    color:#999999;
    font-size:14px;
}  
.main>.box>.focus>.slide-sub-top>.left span:nth-Child(3){
    float:right;
}
.main>.box>.focus>.slide-sub-top>.left span:nth-Child(3)>span{
    color:red;
}
.main>.box>.focus>.slide-sub-top>.right{
    float:left;
    color:#A1A1A1;
    font-size:14px;
}
/* slide-sub */
.main>.box>.focus>.slide-sub{
    position: relative;
    float:left;
    width: 520px;
    height: 200px;
    background:#F6F6F6;
    border-radius:15px;
    overflow:hidden;
}
.main>.box>.focus>.slide-sub:hover .pre,
.main>.box>.focus>.slide-sub:hover .next{
    cursor:pointer;
    display:block;
}
.main>.box>.focus>.slide-sub>.img-box{
    position: absolute;
    width: 2600px;
    height: 200px;
}

.main>.box>.focus>.slide-sub>.img-box a{
    float:left;
     margin-right:5px; 
     margin-left:5px;
}

.main>.box>.focus>.slide-sub>.img-box a:nth-child(-n+2){
   margin-top:25px;
}
.main>.box>.focus>.slide-sub>.img-box a,
.main>.box>.focus>.slide-sub>.img-box a img
{
    width: 250px;
    border-radius:15px;
}
.main>.box>.focus>.slide-sub>.pre,
.main>.box>.focus>.slide-sub>.next
{
  position: absolute;
  top:80px;
  width: 30px;
  height: 30px;
  background:black;
  opacity:0.3;
  line-height:30px;
  font-size:20px;
  text-align: center;
  color:white;
  display:none;
}
.main>.box>.focus>.slide-sub>.pre{
    left:-8px;
    border-radius:0 15px 15px 0;
}
.main>.box>.focus>.slide-sub>.next{
    right:-8px;
    border-radius:15px 0 0 15px;
}
/* slide-sub-right */
.main>.box>.focus>.slide-sub-right{
    float:right;
    width: 160px;
    height: 200px;
    background:purple;
    border-radius:15px;
}
.main>.box>.focus>.slide-sub-right>a,
.main>.box>.focus>.slide-sub-right>a>img{
    border-radius:12px;
}
/* user */
.main>.box>.col-right{
    float:right;
    width: 290px;
    height:100%;
}
.main>.box>.col-right>.user{
    height: 120px;
    text-align:center;
    padding-top:3px;
    background:url(images/user-bgpic.jpg) no-repeat;
}
.main>.box>.col-right>.user>.avatar{
    margin:0 auto;
    display:block;
    width: 50px;
    height: 50px;
    border-radius:50%;
    overflow:hidden;
}
.main>.box>.col-right>.user>p{
    font-size:12px;
}
.main>.box>.col-right>.user>.gold-coin,
.main>.box>.col-right>.user>.members
{
    padding:0px 10px 0px 20px;
    font-size:14px;
    color:#FF5000;
    border-radius:15px;
}
.main>.box>.col-right>.user>.gold-coin{
    background:#FFE4DB url(images/sprite.png) no-repeat 0 -572px;
}
.main>.box>.col-right>.user>.members{
    background:#FFE4DB url(images/sprite.png) no-repeat 0 -526px;
}
/* buttons */
.main>.box>.col-right>.buttons{
    margin-top:-20px;
    padding-left:10px;
}
.main>.box>.col-right>.buttons>a{
    display:inline-block;
    text-align: center;
    height: 25px;
    line-height: 25px;
    color:white;
    background:#FF5101;
    border-radius:5px;
}
.main>.box>.col-right>.buttons>.login{
    width: 92px;
    margin-right:3px;
}
.main>.box>.col-right>.buttons>.register{
    width: 75px;
    margin-right:3px;
}
.main>.box>.col-right>.buttons>.shop{
    width: 75px;
}
/* invite */
.main>.box>.col-right>.inviteyou{
    display:block;
  margin-top:6px;
  margin-bottom:20px;
}
.main>.box>.col-right>.inviteyou>img{
    width: 290px;
}
/* notice */
.main>.box>.col-right>.notice{
    font-size:14px;
    font-weight: bold;
    padding-left:20px;
    margin-bottom:10px;
}
.main>.box>.col-right>.notice>li{
    float:left;
    margin-right:25px;
}
.main>.box>.col-right>.notice>li>a:hover{
    color:red;
}
.main>.box>.col-right>.notice>li>a.active{
    border-bottom:2px solid red;
}

/*notice-content*/
.main>.box>.col-right>.notice-content{
  margin-bottom:10px;
}
.main>.box>.col-right>.notice-content>li{
  display:none;
}
.main>.box>.col-right>.notice-content>li.active{
    display:block;
}
.main>.box>.col-right>.notice-content>li>a{
    font-size:14px;
    font-weight: bold;
}
.main>.box>.col-right>.notice-content>li:nth-child(3)>a{
    color:#FF5000;
    margin-right:28px;
}
.main>.box>.col-right>.notice-content>li:nth-child(4)>a{
    margin-right:26px;
}
.main>.box>.col-right>.notice-content>li:nth-child(5)>a{
    margin-right:78px;
}
/* icon */
.main>.box>.col-right>.icon{
    
    height: 155px;
    width: 100%;
   border-color:red;
   border-collapse:collapse;
   table-layout:fixed;
}
.main>.box>.col-right>.icon tr>td{
    width: 70px;
    height: 76px;
    border:1px solid #F4F4F4;
    text-align: center;
   
}
.main>.box>.col-right>.icon tr>td>a>i{
    
    display:block;
    width: 24px;
    height: 24px;
    margin:0 auto 4px;
    background:url(images/sprite.png) no-repeat;
}
.main>.box>.col-right>.icon tr>td>a>span{
    font-size:12px;
}
.main>.box>.col-right>.icon tr>td>a>.ico2{
    background-position:0 -88px;
}
.main>.box>.col-right>.icon tr>td>a>.ico3{
    background-position:0 -45px;
}
.main>.box>.col-right>.icon tr>td>a>.ico4{
    background-position:0 -130px;
}
.main>.box>.col-right>.icon tr>td>a>.ico5{
    background-position:0 -174px;
}
.main>.box>.col-right>.icon tr>td>a>.ico6{
    background-position:0 -220px;
}
.main>.box>.col-right>.icon tr>td>a>.ico7{
    background-position:0 -264px;
}
.main>.box>.col-right>.icon tr>td>a>.ico8{
    background-position:0 -308px;
}
/*app*/
.main>.box>.col-right>.app{
    /* padding-top:10px; */
    padding-left:10px;
}
.main>.box>.col-right>.app>.title>h4{
    display:inline-block;
   margin-right:168px;
   line-height: 28px;
   height: 28px;
}
.main>.box>.col-right>.app>.title>span{
    font-size:12px;
    line-height:28px;
    height: 28px;
}
.main>.box>.col-right>.app>.title>span>a:hover{
    color:red;
}

.main>.box>.col-right>.app>.ico>li{
    float:left;
    margin:0 10px 0;
}
.main>.box>.col-right>.app>.ico>li>a>img{
    width: 32px;
    height: 32px;
}
/********************goods*********************/
/*head */
.goods{
   height: 340px;
   background:white;
   padding-left:20px;
   padding-top:28px;
}
.goods>.head{
  height: 24px;
}
.goods>.head>h2{
    display:inline-block;
   font-size:24px;
   font-weight:normal;
   letter-spacing: 3px;
  
}
.goods>.head>i{
    display:inline-block;
   width: 65px;
   height: 20px;
   background:url(images/goods-head.png) no-repeat;
   vertical-align: -3px;
}
/*body*/
.goods>.body{
  margin-top:24px;
  font-size:0;
}
.goods>.body>li{
    display:inline-block;
}
.goods>.body>li:hover>a>.img-bx::after{
    background:black;
    opacity:0.16;
}
.goods>.body>li:hover>a>span{
    color:red;
}
.goods>.body>li:nth-child(-n+4){
    margin-right:20px;
}

.goods>.body>li>a>.img-bx{
    position: relative;
    width: 215px;
    height: 215px;
    border-radius:15px;
    overflow:hidden;
    margin-bottom:10px;
}
.goods>.body>li>a>.img-bx>img{
    width: 215px;
    height: 215px;
}
.goods>.body>li>a>.img-bx::after{
     position: absolute;
     top:0;
     left:0;
     width: 215px;
     height: 215px;
     background:black;
     opacity:0.2;
     content:'';
     display:block;
     clear:both;
}

.goods>.body>li>a>span{
    font-size:16px;
    width: 170px;
    margin-left:8px;
}
.goods>.body>li>a>p{  
    font-size:14px;
    color:#999999;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width:180px;
    margin-left:8px;
}
/* *****************recommend************** */
.recommend{
   background:white;
   height: 340px;
}
.recommend>.head{
    height:26px;
    padding-left:20px;
}
.recommend>.head>h2{
    display:inline-block;
    font-weight:normal;
    word-spacing:3px;
}
.recommend>.head>i{
    display:inline-block;
    width: 65px;
    height: 20px;
    background:url(images/recommend-head.png) no-repeat;
    vertical-align:-3px;
}
.recommend>.body{
    padding-top:18px;
   padding-left:20px;
}
.recommend>.body>ul{
    font-size:0;
}
.recommend>.body>ul>li{
    display:inline-block;
   
}
.recommend>.body>ul>li:nth-of-type(-n+4){
    margin-right:20px;
}
.recommend>.body>ul>li>a>.img-bx{
    position: relative;
    width: 215px;
    height: 215px;
    border-radius:15px;
    overflow:hidden;
}
.recommend>.body>ul>li>a>.img-bx::after{
    content:'';
    clear:both;
    display:block;
   position: absolute;
   top:0;
   left:0;
   width: 215px;
   height: 215px;
   background:black;
   opacity:0.2;
}
.recommend>.body>ul>li:hover>a>.img-bx::after{
   background:black;
   opacity:0.13;
}
.recommend>.body>ul>li>a>.img-bx>img{
    width: 215px;
    height: 215px;
}
.recommend>.body>ul>li>a>p{
    width:215px;
    font-size:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom:10px;
}

.recommend>.body>ul>li>a>.price{
    font-size:18px;
    color:red;
    margin-right:3px;
}
.recommend>.body>ul>li>a>.price>i{
    font-size:12px;
    font-style:normal;
}
.recommend>.body>ul>li>a>.purchase-amount{
    font-size:14px;
}
/* *******page-end ********/

.page-end{
    background:white;
    overflow:hidden;
    padding-bottom:50px;
    border-radius:0 0 20px 20px;
}
.page-end>.hr{
  padding-top:36px;
  padding-bottom:56px;
  text-align:center;
  background:white;
  color:#CCCCD0;
 
}
.page-end>ul{
    padding-left:20px;
    font-size:0;
    width:1300px;
   
}
.page-end>ul>li{
    float:left;
    width: 220px;
    height: 80px;
    margin-right:80px;
   
}
.page-end>ul>li>.head{
    margin-bottom:4px;
    height: 38px;
}
.page-end>ul>li>.head>svg{
    display:inline-block;
    width: 35px;
    height: 30px;
    margin-right:10px;
}
.page-end>ul>li>.head>span{
    font-size:16px;
    vertical-align:8px;
  
}

.page-end>ul>li>.body{
    width:226px;
    font-size:0px;
    height: 30px;
}
.page-end>ul>li>.body>a{
    font-size:12px;
    display:inline-block;
    margin-right:14px;
    line-height: 22px;
    height: 22px;
}
/* footer */
.footer{
    margin-top:20px;
    height: 292px;
    background:white;
    font-size:12px;
}
.footer>.box>.ali-sites{
    padding-top:12px;
    height: 70px;
    border-bottom:1px solid #DDDDDD;
}
.footer>.box>.ali-sites>p:nth-of-type(2){
   margin:12px 0;
}
.footer>.box>.ali-sites a{
    display:inline-block;
}
.footer>.box>.ali-sites a>span{
    margin:0 6px 0;
    color:#DDDDDD;
}
/* copyright */
.footer>.box>.copyright p{
  text-indent:6px;
}
.footer>.box>.copyright>p:nth-of-type(1){
    margin-top:10px;
}
.footer>.box>.copyright>p:nth-of-type(1)>a{
    margin-right:5px;
}
.footer>.box>.copyright>p:nth-of-type(1)>span:nth-of-type(1){
    margin-left:4px;
    margin-right:33px;
    color:#9C9C9C;
}
.footer>.box>.copyright>p:nth-of-type(1)>span:nth-of-type(2){
    color:#9C9C9C;
}
.footer>.box>.copyright>p:nth-of-type(2){
    margin-top:10px;
}
.footer>.box>.copyright>p:nth-of-type(2)>span:nth-of-type(-n+3){
    margin-left:4px;
    margin-right:4px;
    color:#9C9C9C;
}
.footer>.box>.copyright>p:nth-of-type(2)>span:nth-of-type(4){
    color:#9C9C9C;
}
.footer>.box>.copyright>p:nth-of-type(3){
    margin-top:10px;
    color:#9C9C9C;
}
.footer>.box>.copyright>p:nth-of-type(3)>span:nth-of-type(even){
    margin-left:3px;
    margin-right:3px;
}
.footer>.box>.copyright>p:nth-of-type(4){
    margin-top:10px;
}
.footer>.box>.copyright>p:nth-of-type(4)>a:first-of-type>i{
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left:2px;
    margin-right:6px;
    vertical-align:middle;
    background:url(images/copyright.jpg) no-repeat -860px 0;
}
.footer>.box>.copyright>p:nth-of-type(4) span{
    color:#9C9C9C;
}
.footer>.box>.copyright>p:nth-of-type(4)>.col-line{
    margin-left:4px;
    margin-right:4px;
}
.footer>.box>.copyright>p:nth-of-type(5){
    margin-top:10px;
}
.footer>.box>.copyright>p:nth-of-type(5)>a{
    margin-right:21px;
}
.footer>.box>.copyright>p:nth-of-type(5)>a:first-of-type{
    width: 30px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright.jpg) no-repeat 0 0;
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(2){
    width: 53px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright.jpg) no-repeat -78px 0;
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(3){
    width: 85px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright.jpg) no-repeat -138px 0;
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(4){
    width: 248px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright-1.png) no-repeat 0 -19px; 
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(5){
    width: 105px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright.jpg) no-repeat -650px 0;  
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(6){
    width: 82px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright.jpg) no-repeat -345px 0; 
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(7){
    width: 98px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright.jpg) no-repeat -758px 0;
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(8){
    width: 250px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright.jpg) no-repeat -882px 0;
}
.footer>.box>.copyright>p:nth-of-type(5)>a:nth-of-type(9){
    width: 240px;
    height: 35px;
    display:inline-block;
    background:url(images/copyright-2.jpg) no-repeat 0 0;
}
/************ tool *************/
.tool{
    position: fixed;
    top:74px;
    right:20px;
    height: 200px;
    width: 50px;
    border-radius:10px;
    background:white;
    font-size:14px;
    word-break:keep-all;
    text-align: center;
    overflow:hidden;
}
.tool a{
    display:block;
    width: 50px;
    height: 50px;
    padding-top:6px;
    border-bottom:1px solid #EFEFEF;
}
.tool a:nth-of-type(2){
    color:#FF4400;
}
.tool a:nth-of-type(3){
    padding-top:0;
    line-height: 50px;
}
.tool .active,
.tool a:hover{
    background:#FF710D;
    color:white;
}